<form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
  <se label="Class Name" error="Please enter class name" required>
    <input nz-input formControlName="name" placeholder="enter class name" />
  </se>
  <se label="Class ID" error="please enter campus" required>
    <input nz-input formControlName="campusId" placeholder="Enter Class ID" />
  </se>
  <se>
    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">Submit</button>
    <button nz-button class="ml-sm">Save</button>
  </se>
</form>
