<page-header [title]="'Classes'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzFor="name">Name</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.name" name="name" placeholder="Name" id="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Submit</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">Reset</button>
      </div>
    </div>
  </form>
  <button nz-button [nzType]="'primary'" (click)="add(modalContent)">
    <i nz-icon nzType="plus"></i>
    <span>Add New</span>
  </button>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="status" let-i>
      <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
    </ng-template>
  </st>
</nz-card>
<ng-template #modalContent>
  <app-class-detail [class]="selectedClass" (save)="onClassSave()" (cancel)="onClassCancel()"></app-class-detail>
</ng-template>
